# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/crash.log
**/override.tf
**/override.tf.json
**/*.tf.json
**/*.tfplan
